<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <h1>Airline list</h1>
        <table id="airline-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Airline Name</th>
                    <th>Country Id</th>
                    <th>User ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for airline in airlines %}
                <tr>
                    <td>{{ airline.id }}</td>
                    <td>{{ airline.airline_name }}</td>
                    <td>{{ airline.country_id }}</td>
                    <td>{{ airline.user_id }}</td>
                    <td>
                        <button class="remove-airline-btn" data-airline-id="{{ airline.id }}">Remove
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button style="margin-top: 70px;  " onclick="window.history.back()">
            Return to previous page
        </button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {



            var removeButtons = document.querySelectorAll('.remove-airline-btn');
            removeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var airlineId = button.getAttribute('data-airline-id');
                    condition = confirm('Are you sure?');
                    if (condition == true) {
                        fetch('/airlines/' + airlineId, {
                            method: 'DELETE'
                        })
                            .then(function (response) {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.text();
                            })
                            .then(function (data) {
                                // Reload the page or update the table as needed
                                location.reload();
                            })
                            .catch(function (error) {
                                console.error('There was a problem with your fetch operation:', error);
                            })
                    };
                });
            });
        }
        );
    </script>
</body>

</html>