<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Dashboard</h2>
    <p>Welcome {{username}} {{ user.role }}!</p>

    <!-- Dropdown button -->
    <div class="dropdown">
        <!-- class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false" -->

        {% if user.role == 'Administrator' %}
        <select name="action" id="actionSelect" onchange="selectOption(this.value)">
            <option>Action</option>
            <option value="1">Show all customers</option>
            <option value="2">Add airline</option>
            <option value="3">Add customer</option>
            <option value="4">Add administrator</option>
            <option value="5">Remove airline</option>
            <option value="6">Remove customer</option>
            <option value="7">Remove administrator</option>
        </select>
        {%endif%}

        {% if user.role == 'Airline' %}
        <select name="" id="" onchange="selectOption(this.value)">
            <option>Action</option>
            <option value="8">Add airline</option> <!-- should this be registration form? -->
            <option value="9">Show my flights</option>
            <option value="10">Update airline entry</option>
            <option value="11">Add flight</option>
            <option value="12">Update flight entry</option>
            <option value="13">Remove flight</option>
        </select>
        {%endif%}
        {% if user.role == 'Customer' %}
        <select name="" id="" onchange="selectOption(this.value)">
            <option>Action</option>
            <option value="14">Update customer data</option>
            <option value="15">Vouch for tickets</option>
            <option value="16">Cancel ticket vouchers</option>
            <option value="17">Show my tickets</option>
        </select>
        {%endif%}
    </div>

    <script>

        function selectOption(option) {

            //Administrator actions
            if (option) {
                switch (option) {
                    case "1":
                        console.log("Show all customers");
                        var selectedOption = document.getElementById("actionSelect").value;
                        if (selectedOption) {
                            window.location.href = "{{ url_for('show_all_customers') }}";
                        }
                        break;
                    case "2":
                        console.log("Add airline")
                        console.log(2);
                        break;
                    case "3":
                        console.log("Add customer");
                        break;
                    case "4":
                        console.log("Add administrator");
                        break;
                    case "5":
                        console.log("Remove airline");
                        break;
                    case "6":
                        console.log("Remove customer");
                        break;
                    case "7":
                        console.log("Remove administrator");
                        break;

                    //Airline actions

                    case "8":
                        console.log("Add Airline");
                        break;
                    case "9":
                        console.log("Show my flights");
                        break;

                    case "10":
                        console.log("Update airline entry");
                        break;
                    case "11":
                        console.log("Add flight");
                        break;

                    case "12":
                        console.log("Update flight entry");
                        break;

                    case "13":
                        console.log("Remove flight");
                        break;

                    //Customer actions

                    case "14":
                        console.log("Update customer data");
                        break;

                    case "15":
                        console.log("Vouch for tickets");
                        break;

                    case "16":
                        console.log("Cancel ticket vouchers");
                        break;

                    case "17":
                        console.log("Show my tickets");
                        break;


                }

            }
        }


    </script>
</body>

</html>