<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 style="margin:auto">Flight Tracker List</h1>
    <table id="flight-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Airline Company ID</th>
                <th>Origin Country ID</th>
                <th>Destination Country ID</th>
                <th>User ID</th>
                <th>Departure Time</th>
                <th>Landing Time</th>
            </tr>
        </thead>
        <tbody>
            {%if login.role%}
            <h2>Profile: {{login.role}}</h2>
            <h3>Username: {%if admin%}{{admin[1]}} Email: {{admin[3]}}{%endif%} {%if
                customer%}{{customer[1]}} Email: {{customer[3]}}{%endif%}{%if
                airline%}{{airline[1]}} Email:{{airline[3]}}{%endif%}<br></h3>
            {%else%}
            <h1>Anonymous user : <a href='/login'>Login</a></h1>
            {%endif%}
            {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.airline_company_id }}</td>
                <td>{{ flight.origin_country_id }}</td>
                <td>{{ flight.destination_country_id }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.landing_time }}</td>
                <td>{{ flight.remaining_tickets }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {



            var removeButtons = document.querySelectorAll('.remove-flight-btn');
            removeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var flightId = button.getAttribute('data-flight-id');
                    condition = confirm('Are you sure?');
                    if (condition == true) {
                        fetch('/flights/' + flightId, {
                            method: 'DELETE'
                        })
                            .then(function (response) {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.text();
                            })
                            .then(function (data) {
                                // Reload the page or update the table as needed
                                location.reload();
                            })
                            .catch(function (error) {
                                console.error('There was a problem with your fetch operation:', error);
                            })
                    };
                });
            });
        }
        );
    </script>
</body>

</html>