<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {%block body%}
    <div style="margin:auto; text-align: center;">
        <h1>Flight Tracker</h1>
        <table id="flight-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Airline Company ID</th>
                    <th>Origin Country ID</th>
                    <th>Destination Country ID</th>
                    <th>Departure Time</th>
                    <th>Landing Time</th>
                    <th>Remaining Tickets</th>
                    {%if actions=='ALelevated'%}
                    <td style="font-weight: bold;">Actions</td>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {%if login.role%}
                <h2 style="font-size: medium ;">Profile: {{login.role}}</h2>
                <h3 style="font-size: small ;">Username: {%if admin%}{{admin[1]}} Email: {{admin[3]}}{%endif%} {%if
                    customer%}{{customer[1]}} Email: {{customer[3]}}{%endif%}{%if
                    airline%}{{airline[1]}} Email: {{airline[3]}}{%endif%}<br></h3>
                {%else%}
                <h1>Guest user : <a href='/login'>Login</a></h1>
                {%endif%}
                {%if flights%}
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.airline_company_id }}</td>
                    <td>{{ flight.origin_country_id }}</td>
                    <td>{{ flight.destination_country_id }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.landing_time }}</td>
                    <td>{{ flight.remaining_tickets }}</td>
                    {%if actions=='ALelevated'%}
                    <td><button class="remove-flight-btn" data-flight-id="{{ flight.id }}">Remove</button>
                        <button class="update-flight-btn" data-flight-id="{{ flight.id }}">Update</button>

                    </td>
                    {%elif actions=='CUelevated'%}
                    <td><button value="{{url_for('buy_ticket')}}" class="buy-ticket-btn"
                            data-ticket-id="{{ flight.id }}" onclick="javascript:fetch('/buy_ticket')">Buy</button>
                    </td>
                    {%endif%}
                </tr>
                {% endfor %}
                {%endif%}
            </tbody>
        </table>

    </div>
    <button style="margin-top: 70px;" onclick="window.history.back()">
        Return to previous page
    </button>
    {%endblock%}
    <script>
        function selectOption(option) {
            window.location.href = option
        };
        //remove flight
        document.addEventListener('DOMContentLoaded', function () {
            var removeButtons = document.querySelectorAll('.remove-flight-btn');
            removeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var flightId = button.getAttribute('data-flight-id');
                    condition = confirm('Are you sure?');
                    if (condition == true) {
                        fetch('/flights/' + flightId, {
                            method: 'DELETE'
                        })
                            .then(function (response) {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.text();
                            })
                            .then(function (data) {
                                // Reload the page or update the table as needed
                                location.reload();
                            })
                            .catch(function (error) {
                                console.error('There was a problem with your fetch operation:', error);
                            })
                    };
                });
            });
        }
        );
        //update flight
        document.addEventListener('DOMContentLoaded', function () {
            var updateButtons = document.querySelectorAll('.update-flight-btn');
            updateButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var flightId = button.getAttribute('data-flight-id');
                    window.location.href = "/update_flight?flight_id=" + flightId;
                });
            });
        }
        );
        //buy ticket
        document.addEventListener('DOMContentLoaded', function () {
            var updateButtons = document.querySelectorAll('.buy-ticket-btn');
            updateButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var ticketId = button.getAttribute('buy-ticket-btn');
                    window.location.href = '';
                });
            });
        });

    </script>
</body>

</html>