{% extends "base.html" %}


{%block body%}
{% if allairlines %}
<h1>Airlines</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Airline Name</th>
            <th>Airline Country Code</th>
            <th>Airline By User ID</th>
        </tr>
    </thead>
    <tbody>
        {% for airline in airlines %}
        <tr>
            <td>{{ airline.id }}</td>
            <td>{{ airline.airline_name }}</td>
            <td>{{ airline.country_id }}</td>
            <td>{{ airline.user_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}