select {
    border: 2px solid black;
    border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

/* Ensure that the table header has a consistent appearance */
th {
    background-color: #f2f2f2;
}

/* Add zebra striping for table rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

div {
    margin: auto;
    text-align: center;
}

/* . class
# id */